header h1, header h2, header h1 a, header h2 a{
	text-align: center;
	margin: 40px 0 20px 0;
	font-size: 40px;
	letter-spacing: -2px;
	color: #404040;
	text-decoration: none;
}

.container{
	margin-bottom: 60px;
}

.content{
	margin-left: 0;
	margin-top: 20px;
	float: left;
}

.content .title{
	padding-left: 5px;
}

#bottom_page{
	clear: both;
	padding-top: 40px;
}

.sidebar{
	margin-top: 20px;
	float: right;
}

.sidebar h6{
	line-height: 18px;
	font-size: 14px;
}

#bottom_page ul p{
	padding: 0 14px;
	line-height: 34px;
	margin-bottom: 0;
	display: inline;
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

em {
	color: #777777;
}

.highlight .hll { background-color: #333333 }
.highlight  { 

background: #111111; 

color: #ffffff ;

padding: 0.2em 0.9em;
  margin-bottom: 1em;
	font: normal normal normal 115%/normal 'Monaco', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
  line-height: 1.1em;
  overflow: auto;
	font-size: 1.0em;
	border: 1px solid #CCC;
	
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;


}

p > code, p > a > code, li > code, h3 > code
{
	
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
color: #C5CBD0;
/*color: white*/
background-image: url(/images/opaque_20.png);
font-family: Consolas, "Courier New", Courier, "Liberation Mono", monospace;
font-size: 1.1em;
/*height: 0px;
image-rendering: auto;
left: auto;
list-style-type: disc;*/
padding-bottom: 2px;
padding-left: 4px;
padding-right: 4px;
padding-top: 2px;
text-decoration: none;
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: auto;

}


p > a > code
{
color: #95be7d;
}

code, pre {
	font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
	font-size:0.95em;
	margin: 1em 0 1.5em 0;
}

.highlight span
{
font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
font-size:1em;
}