header h1, header h2, header h1 a, header h2 a{
	text-align: center;
	margin: 40px 0 20px 0;
	font-size: 40px;
	letter-spacing: -2px;
	color: #404040;
	text-decoration: none;
}

.container{
	margin-bottom: 60px;
}

.content{
	margin-left: 0;
	margin-top: 20px;
	float: left;
}

.content .title{
	padding-left: 5px;
}

#bottom_page{
	clear: both;
	padding-top: 40px;
}

.sidebar{
	margin-top: 20px;
	float: right;
}

.sidebar h6{
	line-height: 18px;
	font-size: 14px;
}

#bottom_page ul p{
	padding: 0 14px;
	line-height: 34px;
	margin-bottom: 0;
	display: inline;
	float: left;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

em {
	color: #777777;
}

.post_content pre {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .4em;
}

.post_content ul,
.post_content ol {
	margin-left: 1.35em;
}

.post_content code {
	border: 1px solid #ddd;
	background-color: #eef;
	font-size: 85%;
	padding: 0 .2em;
}

.post_content pre code {
  border: none;
}

/* terminal */

.post_content pre.terminal {
border: 1px solid black;
background-color: #333;
color: white;
}

.post_content pre.terminal code {
background-color: #333;
}
