<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/syntax.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
</head>
<body>

	{% if site.baseurl == null %}
		{% assign linkhome = "/" %}
		{% else %}
		{% assign linkhome = site.baseurl %}
	{% endif %}

	<header>
		<nav>
			<div class="nav-wrapper light-blue white-text">
				<a href="{{ linkhome }}" class="brand-logo left">{{ site.name }}</a>
				<a href="#" data-activates="mobile-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
				<ul class="right hide-on-med-and-down">
					{% include menu.html %}
				</ul>
				<ul class="side-nav" id="mobile-menu">
					{% include menu.html %}
				</ul>
			</div>
		</nav>
	</header>

	<div class="container">
