.highlight .hll { background-color: #333333 }
.highlight { 
	background: rgb(39,40,34); 
	color: #ffffff ;
	padding: 0.2em 0.9em;
	margin-bottom: 1em;
	font: normal normal normal 0.7em/normal 'Monaco', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
	line-height: 1.1em;
	overflow: auto;
	font-size: 0.7em;
	border: 1px solid #CCC;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
}

p > code, p > a > code, li > code, h3 > code {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	color: #C5CBD0;
	/*color: white*/
	font-family: Consolas, "Courier New", Courier, "Liberation Mono", monospace;
	font-size: 1em;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 2px;
	text-decoration: none;
	text-indent: 0px;
	text-shadow: none;
	text-transform: none;
	top: auto;
}


p > a > code {
	color: #95be7d;
}

code, pre {
	font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
	font-size:0.95em;
	margin: 1em 0 1.5em 0;
}

.highlight span {
	font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
	font-size:1em;
}